.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.main {
  padding: 16px 32px;
}

.main-toolbar {
  display: flex;
  justify-content: space-between;
}