@import 'assets/build/styles/_variables.scss';

.card-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 100fr;
  align-content: stretch;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

// @media #{$query-gt-xs} {
//   .card-grid {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// @media #{$query-gt-sm} {
//   .card-grid {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }

// @media #{$query-gt-md} {
//   .card-grid {
//     grid-template-columns: repeat(5, 1fr);
//   }
// }

// @media #{$query-gt-lg} {
//   .card-grid {
//     grid-template-columns: repeat(6, 1fr);
//   }
// }

